$calendar-textlabelcolor: #aaa;
$calendar-bordercolor: #444;

body {
  padding: 50px 0;
}

#calendar-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#in-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

input{
	border:0px;
	background:#333;
	color:white;
	margin:0px;
	padding:3px;
}

svg {
  width: 720px;
  height: 140px;
  // background: hsl(210,70%,85%);
}

.calendar-monthname {
  font-size: 10px;
  fill: $calendar-textlabelcolor;
}

.calendar-daylabel {
  fill: $calendar-textlabelcolor;
  font-size: 10px;
  text-anchor: middle;
}

.calendar-day {
  &:hover {
    stroke: $calendar-bordercolor;
  }
}